<div class="bd-example">
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class=""></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2" class=""></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item">
      <div class="card carousel-caption fixed-top" style="width: 15rem; opacity: 0.4; border-radius: 10px; margin-top: 10px; margin-left: 10px; height: 25rem;">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text" style="color: red">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <img class="d-block w-100" alt="First slide [800x400]" src="uploads/dog_card_1.jpg" data-holder-rendered="true">
      <div class="carousel-caption d-none d-md-block">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </div>
    <div class="carousel-item active">
      <div class="card carousel-caption fixed-top" style="width: 15rem; opacity: 0.4; border-radius: 10px; margin-top: 10px; margin-left: 10px; height: 25rem;">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text" style="color: red">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <img class="d-block w-100" alt="Second slide [800x400]" src="uploads/dog_card_2.jpg" data-holder-rendered="true">
      <div class="carousel-caption d-none d-md-block">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card carousel-caption fixed-top" style="width: 15rem; opacity: 0.4; border-radius: 10px; margin-top: 10px; margin-left: 10px; height: 25rem;">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text" style="color: red">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
          
      <img class="d-block w-100" alt="Third slide [800x400]" src="uploads/dog_card_3.jpg" data-holder-rendered="true">
      <div class="carousel-caption d-none d-md-block">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>